/* Estilos para o container principal */
.container {
    display: flex;
    height: 100vh; /* Define a altura para ocupar a tela inteira verticalmente */
  }
  
  /* Estilos para a parte esquerda */
  .left-side {
    width: 381px; /* Largura desejada */
    background-color: #b4b4b4;
    flex: 0 0 37%; /* Porcentagem para ocupar 37% do espaço */
    padding: 20px;
  }
  
  /* Estilos para a parte direita */
  .right-side {
    width: 1300px; /* Largura desejada */
    background-color: #8b8b8b;
    flex: 1; /* Ocupa o restante do espaço disponível */
    padding: 20px;
    color: #ffffff;
    height: 100%; /* Ocupa a altura total do lado direito */
    display: flex;
    flex-direction: column; /* Coluna para posicionar o conteúdo verticalmente */
}
  

.right-side h1 {
  margin-top: 0;
}

.right-side p {
  margin-bottom: 5px;
  font-size: 1.8rem; /* Tamanho menor para o texto "Tema:" */
}

.input-text {
  width: 779px;
  height: 53px;
  background-color: #3e3e3e;
  border-radius: 15px; /* Bordas arredondadas */
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box; /* Considera o padding dentro das dimensões */
}
.input-text2 {
  width: 779px;
  height: 136px;
  background-color: #3e3e3e;
  border-radius: 15px; /* Bordas arredondadas */
  border: none;
  color: white;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box; /* Considera o padding dentro das dimensões */
  margin-bottom: 10px; /* Espaçamento entre os inputs */
}

  /* Estilos para o conteúdo dentro das seções */
  h1, p {
    color: #ffffff; /* Cor do texto */
  }

  .botao {
    width: 219px;
    height: 63px;
    background-color: #3e3e3e;
    border: none;
    color: white;
    border-radius: 15px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaçamento entre os botões */
    margin-bottom: 10px;
  }

  .categories-box {
  background-color: #353c54;
  border-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 292px;
  height: 275px;
  top: -3118px;
  padding: 10px;
  color: #ffffff;
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  flex-direction: column; /* Organiza o conteúdo em coluna */
  }
  
  .categories-box h2 {
    background-color: #695fa5;
    width: 292px;
    height: 68px;
    top: -3127px;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: -20px -20px 20px -20px;
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    flex-direction: column; /* Organiza o conteúdo em coluna */
  }
  
  .categories-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .categories-box li {
    margin-bottom: 10px;
  }

  .footer-button {
    position: absolute;
    bottom: 20px; /* Distância do fundo da página */
    left: 64%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta o centro para o botão */
    text-align: center; /* Alinha o texto ao centro */
    width: 100%; /* Ocupa toda a largura da página */
  }
  
  .add-button {
    width: 219px;
    height: 63px;
    background-color: #3e3e3e;
    border: none;
    color: white;
    border-radius: 15px; /* Bordas arredondadas */
    margin-right: 10px; /* Espaçamento entre os botões */
    font-size: 1.8rem;
    
  }