@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;800&display=swap');

.banner_01{
    background: linear-gradient(180deg, rgba(86, 133, 254, 0.54) 0%, rgba(6, 30, 244, 0.54) 100%);    height: 360px;
 
}
.main_content_banner_01{
  
    margin-top: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 
}
.duasCriancas{
    width: 500px;
    top: -120px;
    position: relative;
}
.texto_banner_01{
   font-family: Inter;
   color: white;
   display: flex;
   flex-direction: column;
   gap: 50px;
   text-align: center;
   font-size: 25px;
  margin-top: 40px;

}

.texto_banner_01 div p{
    font-size: 30px;
    font-weight: 400;
   
}

.destacados_container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
 
}

.todas_container{

    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 
}
.titulos_categorias{
    margin-left: 50px;
    font-family: inter;
    color: #3F3F3F;
}
.categorias_content{
  
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin: 20px;

}
.cardDecoracao{
    cursor: pointer;
    width: 250px;
    border-radius: 33px;
    background: #D6D6D6;
    box-shadow: 7px 9px 13px 1px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    transition: 0.2s;
}
.cardDecoracao:hover{
    transform: scale(1.05);
}
.ancorDecoracao{
    text-decoration: none;
}
.imagemDecoracao{
    width: 220px;
    height: 150px;
    border-radius: 20px;
}
.cardTextContent{
    color: #3F3F3F;
    font-family: inter;
    margin-top: 20px;
}
.card-title-decoracao{
    font-size: 20px;
    margin-bottom: 10px;
    
}
.banner_02{
    background: linear-gradient(180deg, rgba(255, 1, 169, 0.54) 0%, rgba(48, 0, 239, 0.54) 100%);
    height: 360px;
    position: relative;
}
.main_content_banner_02{
  
    margin-top: 120px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 35%;

}
.criancaMeninaApontando{
    width: 450px;
    position: absolute;
    top: -70px;


}
.texto_banner_02{
   margin-top: 10px;
   font-family: Inter;
   margin-right: 10rem;
   color: white;
   display: flex;
   flex-direction: column;
   gap: 50px;
   align-items: center;
   justify-content: center;
   font-size: 25px;
    text-align: center;
}

.texto_banner_02 div p{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.button_contact{
    border-radius: 18px;
    background: linear-gradient(180deg, #70FF98 0%, #4AFF7D 100%);;
    padding: 20px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.button_contact:hover{
  transform: scale(1.1);
}
.botao_whatsapp a img{
    width: 110px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 40px;
    z-index: 999
}
@media screen and (max-width: 1439px){
    .texto_banner_01{
        font-size: 20px;
    }
    .duasCriancas{
        width: 400px;
       top: -60px;
    }
}
@media screen and (max-width: 1154px){
    .texto_banner_01{
        font-size: 20px;
        align-items: start;
        text-align: start;
        margin-left: 20px;
    }
    .texto_banner_02{
        font-size: 20px;
        align-items: end;
        text-align: end;
        margin-right: 20px;
    }
    .texto_banner_02 div p {
        font-size: 25px;
        text-align: end;
    }
    .criancaMeninaApontando{
        width: 400px;
        top: -50px;
    }
}
@media screen and (max-width: 1027px){
    .duasCriancas{
        width: 350px;
       top: -20px;
    }
    .texto_banner_01{
        font-size: 20px;
      
    }
    .texto_banner_01 div p{
        font-size: 25px;
      
    }
    .imagemDecoracao{
        width: 200px;
        height: 150px;
    }
   .cardDecoracao{
    width: 250px;
   }
  
}
@media screen and (max-width: 861px){
    .duasCriancas{
        width: 350px;
       top: -20px;
    }
    .texto_banner_01{
        font-size: 20px;
        margin-top: 10px;
        width: 800px;
    }
    .texto_banner_01 div p{
        font-size: 24px;
      
    }
    .texto_banner_02{
        font-size: 15px;
        width: 450px;
    }
    .texto_banner_02 div p {
        font-size: 20px;
    
    }
  
}

@media screen and (max-width: 861px){
    .duasCriancas{
        display: none;
    }
    .main_content_banner_01{
        justify-content: center;
        align-items: center;
    }
    .texto_banner_01{
        font-size: 20px;
        margin-top: 10px;
        width: 800px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
    }
    .texto_banner_01 div p{
        font-size: 24px;
        text-align: center;
        align-items: center;
    }
  
}

@media screen and (max-width: 680px){
   
    .texto_banner_02{
        margin-top: 50px;
        font-size: 12px;
       
    }
    .texto_banner_02 div p{
        font-size: 18px;
     
    }
    .criancaMeninaApontando{
        width: 350px;
        top: -10px;
    
    
    }
  
}
@media screen and (max-width: 598px){
    
    .criancaMeninaApontando_div{
       display: none;
    
    
    }
    .texto_banner_02{
        text-align: center;
       align-items: center;
       margin-top: 50px;
       margin-right: 0;
    }
    .texto_banner_02 div p{
       text-align: center;
        
    }
    .main_content_banner_02{
        align-items: center;
        justify-content: center;
        gap: 0;
    }
  
}
@media screen and (max-width: 563px){
    .imagemDecoracao{
        width: 150px;
        height: 100px;
    }
   .cardDecoracao{
    width: 200px;
   }
}
@media screen and (max-width: 493px){
   
    .texto_banner_01{
        margin-top: 50px;
        margin-left: 0;
        font-size: 15px;
       
    }
    .texto_banner_01 div p{
        font-size: 18px;
     
    }
  
}
@media screen and (max-width: 461px){
   .titulos_categorias{
    margin: 0;
    
   }
   .todas_container{
    justify-content: center;
    align-items: center;
   }
   .destacados_container{
    justify-content: center;
    align-items: center;
   }
   .categorias_content{
    justify-content: center;
    align-items: center;
   }
}