@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;800&display=swap');

.banner_01{
    background: linear-gradient(180deg, rgba(46, 28, 255, 0.54) 0%, rgba(46, 28, 255, 0.54) 0.01%, rgba(196, 40, 251, 0.54) 100%);    height: 350px;
    height: 360px;

}
.main_content_banner_01{
  
    margin-top: 90px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 35%;

}
.criancaBalao{
    width: 450px;
    position: absolute;
    top: 95px;

}
.texto_banner_01{
   margin-top: 10px;
   font-family: Inter;
   margin-right: 10rem;
   color: white;
   display: flex;
   flex-direction: column;
   gap: 50px;
   align-items: center;
   justify-content: center;
   font-size: 25px;
 
}

.texto_banner_01 div p{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.button_contact{
    border-radius: 18px;
    background: linear-gradient(180deg, #70FF98 0%, #4AFF7D 100%);;
    padding: 20px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
    text-align: center;
    font-size: 25px;
}
.button_contact:hover{
  transform: scale(1.1);
}
.banner_02{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    background-color: #E3E3E3;
    gap: 50px;
    
}

.banner_02 div p{
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
    font-family: Inter;

}

.criancaMenina{
    position: absolute;
    top: 40rem;
    width: 250px;
}

.div_carrosel_decoracoes{
    margin-bottom: 2rem;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}
.div_carrosel_decoracoes img{
    border-radius: 20px;
    width: 280px;
    height: 200px;
}


.criancaApontandoCima{
    width: 450px;
    position: absolute;
    top: -100px;

}

.banner_03{
    margin-top: 120px;
    position: relative;
    background: linear-gradient(180deg, rgba(0, 71, 255, 0.54) 0%, rgba(0, 209, 255, 0.54) 100%);
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 35%;
}

.texto_banner_03{
    font-family: Inter;
    margin-right: 10rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
 }

 .texto_banner_03 div p{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}


.banner_04{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    padding: 40px;
    flex-wrap: wrap;
    position: relative;
}
.content_parceiros{
    font-family: Inter;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 30px;
    color: #636363;
    margin-left: 40px;
    
}
.content_parceiros div{
    display: flex;
    gap: 20px;
}
.content_parceiros h2{
    text-align: center;
}
.imgParceria{
    width:250px;
    height: 250px;
    border-radius: 35%;
}
.criancaMenino{
    width: 400px;
}   
.saibaMais{
    padding: 20px 100px 20px 100px;
    text-decoration: none;
    text-align: center;
    color: white;
    border-radius: 18px;
    background: linear-gradient(180deg, #874FFF 0%, #4A72FF 100%);
    transition: 0.5s;
}
.saibaMais:hover{
    transform: scale(1.1);
}
.button_veja-mais{
    text-decoration: none;
    color: white;
    font-family: Inter;

}

.button_veja-mais p{
    background: linear-gradient(180deg, #874FFF 0%, #4A72FF 100%);
    margin: 0 auto;
    width: 200px;
    padding: 20px 0px 20px 0px;
    border-radius: 18px;
    transition: 0.5s;
}

.button_veja-mais P:hover{
    transform: scale(1.1);
}
.botao_whatsapp a img{
    width: 110px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: 30px;
    margin-bottom: 150px;
    z-index: 999
}

@media screen and (max-width: 1471px){
    .criancaMenino{
        width: 350px;
    }  
    .banner_04{
        gap: 20px;
    }
}
@media screen and (max-width: 1434px){

    .banner_02{
      
        justify-content: left;
        gap: 10%;
    }
    .div_carrosel_decoracoes{
        margin-left: 40px;
    }
    
    .criancaMenina{
        position: absolute;
        top: 33rem;
        width: 250px;
    }

}
@media screen and (max-width: 1299px){

    .div_carrosel_decoracoes{
        margin-left: 20px;
    }
    .criancaMenino{
        width: 300px;
    }  

}
@media screen and (max-width: 1275px){

    .content_parceiros{
        margin-left: 0px;
    }
    
    .main_content_banner_01{
        justify-content: space-between;
    }
    .texto_banner_01{
        margin-right: 50px;
        align-items: flex-end;
       
    }
    .texto_banner_01 h2{
        text-align: right;
        font-size: 30px;
     }
    .texto_banner_01 div p{
        text-align: right;
    }
    .banner_02{
        
        gap: 6rem;
    }
    .banner_03{
        justify-content: center;
    }
    .texto_banner_03{
        margin-right: 0;
        align-items: end;
    }
    .texto_banner_03 div p{
        text-align: end;
    }
   
} 

@media screen and (max-width: 1269px) {
    .banner_02{
        align-items: center;
        justify-content: center;
        gap: 0;
    }
    .div_carrosel_decoracoes{
        flex-wrap: wrap;
    }
   .criancaMenina{
        display: none;
   }
   .banner_04{
    margin-top: 60px;
    justify-content: center;
   }

   

   .content_parceiros div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
   }
   .content_parceiros div h2{
     text-align: center;
    
   }
   .criancaMenino{
        display: none;
   }
}
@media screen and (max-width: 1016px){

    .texto_banner_01 h2{
        font-size: 28px;
    }
    .texto_banner_01 div p{
        font-size: 25px;
    }
    .criancaBalao{
        width: 450px;
        top: 160px;
    }
    .criancaApontandoCima{
        width: 400px;
        top: -80px;
    }
    .texto_banner_03 div p{
       
       font-size: 25px;
        
    }
} 
@media screen and (max-width: 871px){
    
    .criancaBalao{
       
    display: none;
    
    }
    .criancaBalao_div{
        display: none;
    }
    .criancaApontandoCima{
        display: none;
    }
    .main_content_banner_01{
        justify-content: center;
        
    
       
    }
    .texto_banner_01{
       align-items: center;
       justify-content: center;
       margin: 0;
       margin-top: 20px;
    }
    
    .texto_banner_01 div p{
       
        text-align: center;
        
    }
    .texto_banner_01 h2{
        text-align: center;
        align-items: center;
     }
     .texto_banner_03{
      justify-content: center;
      align-items: center;
     }
     .texto_banner_03 div p{
        text-align: center;
    }
    .banner_03{
        gap: 0;
    }
} 
@media screen and (max-width: 530px){
    h2{
        font-size: 30px;
    }
    .imgParceria{
        width: 180px;
        height: 180px;
    }
    .texto_banner_01 div{
        width: 400px;
        
    }
    .texto_banner_01 div p{
        font-size: 20px;
        
    }
    .button_contact{
        padding: 20px;
        font-size: 22px;
    }
    .saibaMais{
        padding: 20px;
    }
    .div_carrosel_decoracoes a img{
        width: 200px;
        height: 150px;
    }
    
}
@media screen and (max-width: 424px){
    .texto_banner_03 div p{
        font-size: 20px;
    }
}
@media screen and (max-width: 418px){
    .texto_banner_01 div{
        width: 315px;

    }
    .texto_banner_01 div p{
        font-size: 20px;
        
    }
    .button_contact{
        padding: 20px;
        font-size: 16px;

    }
    
}
@media screen and (max-width: 335px){
    .texto_banner_01 div{
        width: 270px;
  
    }
    .texto_banner_01 div p{
        font-size: 16px;
     
    }
    .texto_banner_03 div p{
        font-size: 18px;
    }
    .texto_banner_01 h2{
        font-size: 20px;
    }
    .button_contact{
        padding: 19px;
        font-size: 14px;

    }
    
}

