@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;800&display=swap');

.banner_01{
    background: linear-gradient(180deg, rgba(46, 28, 255, 0.54) 0%, rgba(46, 28, 255, 0.54) 0.01%, rgba(196, 40, 251, 0.54) 100%);    height: 350px;
    height: 360px;
}
.main_content_banner_01{
  
    margin-top: 90px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   

}
.criancaBalao{
    width: 500px;
    position: absolute;
    top: -150px;

}
.texto_banner_01{
   margin-top: 10px;
   font-family: Inter;
   margin-right: 10rem;
   color: white;
   display: flex;
   flex-direction: column;
   gap: 50px;
   align-items: center;
   justify-content: center;
   font-size: 25px;
 
}

.texto_banner_01 div p{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.button_contact{
    border-radius: 18px;
    background: linear-gradient(180deg, #70FF98 0%, #4AFF7D 100%);;
    padding: 20px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}
.button_contact:hover{
  transform: scale(1.1);
}
.banner_02{
    margin-top: 7rem;
    display: flex;
    background-color: #E3E3E3;
}
.banner_02 div p{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 25px;
    font-family: Inter;
}



.criancaMenina{
    position: absolute;
    top: 33rem;
    right: 0;
    width: 250px;
    margin-right: 40px;
}

.div_carrosel_decoracoes{
    padding: 0rem 5rem 2rem 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
.div_carrosel_decoracoes img{
    border-radius: 20px;
    width: 280px;
    height: 200px;
}


.criancaApontandoCima{
    width: 450px;
    position: absolute;
    top: -100px;

}

.banner_03{
    margin-top: 120px;
    position: relative;
    background: linear-gradient(180deg, rgba(0, 71, 255, 0.54) 0%, rgba(0, 209, 255, 0.54) 100%);
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.texto_banner_03{
    font-family: Inter;
    margin-right: 10rem;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    
 }

 .texto_banner_03 div p{
    font-size: 35px;
    font-weight: 400;
    text-align: center;
}


.banner_04{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
}
.content_parceiros{
    font-family: Inter;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    font-size: 30px;
    color: #636363;
    margin-left: 40px;
    
}
.content_parceiros div{
    display: flex;
    gap: 20px;
}
.imgParceria{
    width:250px;
    height: 250px;
    border-radius: 35%;
}
.criancaMenino{
    width: 400px;
}   
.saibaMais{
    padding: 20px 100px 20px 100px;
    text-decoration: none;
    color: white;
    border-radius: 18px;
    background: linear-gradient(180deg, #874FFF 0%, #4A72FF 100%);
    transition: 0.5s;
}
.saibaMais:hover{
    transform: scale(1.1);
}

@media screen and (max-width: 1269px) {
    .banner_02{
        align-items: center;
        justify-content: center;
    }
    .div_carrosel_decoracoes{
        flex-wrap: wrap;
    }
   .criancaMenina{
        display: none;
   }
   .banner_04{
    margin-top: 60px;
    justify-content: center;
   }

   .content_parceiros div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   }
   .criancaMenino{
        display: none;
   }
}
@media screen and (max-width: 1275px){
    .main_content_banner_01{
        justify-content: center;
    }
    .texto_banner_01{
        margin-right: 0px;
    }
    .criancaBalao{
        display: none;
    }
    .banner_03{
        justify-content: center;
    }
    .texto_banner_03{
        margin-right: 0;
    }
    .criancaApontandoCima{
        display: none;
    }
} 