@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;800&display=swap');



body{
    
    height: 100vh;
    background: rgb(175, 175, 175);
 
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
  
}
.categorias{
    display: flex;
    gap: 35px;
    
}

.categorias a{
    text-decoration: none;
    font-family: Inter;
    color: #3F3F3F;
    transition: 0.2s;
}
.categorias a:hover{
    transform: scale(1.1);
}
form{
    margin-top: 50px;
    display: flex;   
    flex-direction: column;
    gap: 30px;
    background-color: rgb(219, 219, 219);
    padding: 45px;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.inputs{
    display: flex;
    flex-direction: column;
    font-family: Inter;
    color: #3F3F3F;
    gap: 5px;
    
}
.input_foto{
    font-family: Inter;
    color: #3F3F3F; 
}
.input_foto_adicionadas{
    font-family: Inter;
    color: #3F3F3F; 
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.inputs_favoritar{
    font-family: Inter;
    color: #3F3F3F;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.button input{
    width: 200px;
}

h2{
    font-family: Inter;
    color: #3F3F3F;
}
.input-item{
    height: 39px;
    border-radius: 10px;
    border: 0 solid white;
    padding: 20px;
    font-size: 15px;
}
.button-item{
    border-radius: 10px;
    border: 0 solid white;
    background-color: #bbbbbb;
    padding: 20px;
    font-size: 20px;
    transition: 0.2s;
}

.button-item:hover{
    transform: scale(1.1);
    cursor: pointer;
}