@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: #F2F2F2;
}
header{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    font-size: 20px;
    flex-wrap: wrap;
}
.menu{
    color: #3F3F3F;
    font-family: Inter;
    text-decoration: none;
    transition: 0.2s;
}
.menu:hover{
    transform: scale(1.05);
}
.menu-lateral-container{
    display: none;
}
.logo_LuzECor{
    width: 100px;
    height: 100px;
}
.logo_Whats{
    width: 40px;
    height: 40px;
}

footer{
    bottom: 0;
    width: 100%;
     margin-top: 30px;
     padding: 30px;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;
     gap: 80px;
     background-color: white;
 }
 .Logo_footer{
     width: 8rem;
 }
 .iconWhats_footer{
     width: 40px;
 }
 .iconFacebook_footer{
     width: 20px;
 }
 .iconInstagram_footer{
     width: 40px;
 }
 .contato_footer{
     color: #636363;
     font-family: Inter;
     display: flex;
     flex-direction: column;
     gap: 20px;
     font-size: 20px;
     
 }
 .contato_footer_numero{
     font-size: 20px;
     display: flex;
     gap: 20px;
     align-items: center;
     justify-content: left;
 }
 .redes_footer{
     color: #636363;
     font-family: Inter;
     display: flex;
     flex-direction: column;
     gap: 20px;
     font-size: 20px;
 
 }
 .redes_footer_icons{
     display: flex;
     gap: 20px;
     align-items: center;
     justify-content: left;
 }




 @media screen and (max-width: 632px){

    footer{
        gap: 30px;
    }

    .Logo_footer{
        width: 80px;
    }
    h3{
        display: none;
    }

 }
 @media screen and (max-width: 450px){

    footer{
        gap: 30px;
    }

    .Logo_footer{
        width: 80px;
    }
    h3{
        display: none;
    }
    .contato_footer_numero p{
        display: none;
    }

 }

 @media screen and (max-width: 322px){

    footer{
        gap: 20px;
    }


 }